{% extends "trails/layout.html" %}
{% load static %}

{% block content %}
<div class="hero">
    <img class="homepage_img" src="{% static 'img/Riviera_Routes_hp.png' %}" alt="Swiss Riviera Trail" />

    <div class="heading_box">
        <h1 class="heading_primary">
            <span class="heading_primary_main">Hiking</span>
            <span class="heading_primary_sub">From me to you</span>
        </h1>
    </div>
</div>

<!-- Main content -->
<section class="section-title">
    <h2>Trails Around the Swiss Romande</h2>
</section>


<div class="trail-section">
    <div class="trail-grid">
        <!-- card 1 -->
        <div class="trail-card" data-trail="rocher">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>


        <div class="trail-card">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>

        <div class="trail-card">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>

        <div class="trail-card">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>

        <div class="trail-card">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>

        <div class="trail-card">
            <img src="{% static 'img/h1.png' %}" alt="Trail 1">
            <h3 class="trail-name">Hike Name</h3>
            <p class="trail-location">Town Name</p>
            <p class="trail-canton">Vaud</p>
        </div>


        <!-- Map -->
        <div class="trail-map">
            <div id="map" style="width: 100%; height: 100%; border-radius: 1rem;"></div>

        </div>
    </div>
</div>


{% endblock %}