{% extends "trails/layout.html" %} {% load static %} {% block content %}
<div class="hero">
    <img class="homepage_img" src="{% static 'img/Riviera_Routes_hp.png' %}" alt="Swiss Riviera Trail" />

    <div class="heading_box">
        <h1 class="heading_primary">
            <span class="heading_primary_main">Hiking</span>
            <span class="heading_primary_sub">From me to you</span>
        </h1>
    </div>
</div>

<!-- Main content -->
<section class="section-title">
    <h2>Trails Around the Swiss Romande</h2>
</section>

<div class="trail-section">
    <div class="trail-grid">
        <!-- Loop through all the trails for cards -->
        {% for trail in featured_trails %}
        <a href="{% url 'trail_detail' trail.slug %}" class="trail-card">
            {% if trail.image %}
            <img src="{{ trail.image.url }}" alt="{{ trail.name }}" />
            {% else %}
            <img src="{% static 'img/fallback.jpg' %}" alt="{{ trail.name }}" />
            {% endif %}
            <h3 class="trail-name">{{ trail.name }}</h3>
            <p class="trail-canton">Canton of {{ trail.start_location }}</p>
        </a>
        {% endfor %}

        <!-- Map -->
        <div class="trail-map">
            <div id="map" style="width: 100%; height: 100%; border-radius: 1rem"></div>
        </div>
    </div>
</div>

<section class="tips">
    <div class="tips_header">
        <h2 class="section-title">Trail Tips — From Me to You</h2>
    </div>
    <div class="tips_content">
        <ul class="tips-list">
            <li>
                <strong>Start early:</strong> Trails can take longer than expected — and
                some parts can be tricky in late afternoon light.
            </li>
            <li>
                <strong>Stay aware:</strong> Take short breaks to stay focused,
                especially on longer or steeper trails. Reassess your pace and your plan
                as you go — it’s okay to change direction.
            </li>
            <li>
                <strong>Water, always:</strong> Even if it's cool outside, bring enough
                water. Some trails don’t have fountains along the way.
            </li>
            <li>
                <strong>Know your limits:</strong> Choose hikes that match your energy
                for the day — not just what looks pretty.
            </li>
            <li>
                <strong>Gear matters:</strong> Thunderstorms or fog can sneak up on you.
                Use sturdy hiking shoes with good grip to stay safe and comfortable. A
                light jacket and a rain cover are always a good idea.
            </li>
            <li>
                <strong>Plan your route:</strong> Always allow extra time and be
                prepared with an alternative route if needed. Check trail conditions and
                weather before starting.
            </li>
        </ul>
    </div>
</section>

{% endblock %}