{% extends "trails/layout.html" %}

{% load static %}


{% block content %}
<!-- Hero Section -->
<div class="hero">
    <img class="homepage_img" src="{% static 'img/Riviera_Routes_hp.png' %}" alt="Swiss Riviera Trail" />

    <div class="heading_box">
        <h1 class="heading_primary">
            <span class="heading_primary_main">Hiking</span>
            <span class="heading_primary_sub">From me to you</span>
        </h1>
    </div>
</div>

<!-- Main content -->
<section class="section-title">
    <h2>Trails Around the Swiss Romande</h2>
</section>


<div class="trail-section">
    <!-- Filter by Difficulty -->
    <div class="filter-container">
        <form method="get">
            <label for="difficulty">Filter by Difficulty:</label>
            <select name="difficulty" id="difficulty" onchange="this.form.submit()">
                <option value="">All Levels</option>
                <option value="Easy" {% if selected_difficulty=="Easy" %}selected{% endif %}>Easy</option>
                <option value="Intermediate" {% if selected_difficulty=="Intermediate" %}selected{% endif %}>
                    Intermediate</option>
                <option value="Moderate" {% if selected_difficulty=="Moderate" %}selected{% endif %}>Moderate</option>
            </select>
        </form>
    </div>


    <div class="trail-grid">
        <!-- Loop through all the trails for cards -->
        {% for trail in featured_trails %}
        <a href="{% url 'trail_detail' trail.slug %}" class="trail-card">
            {% if trail.image %}
            <img src="{{ trail.image.url }}" alt="{{ trail.name }}" />
            {% else %}
            <img src="{% static 'img/fallback.jpg' %}" alt="{{ trail.name }}" />
            {% endif %}
            <h3 class="trail-name">{{ trail.name }}</h3>
            <p class="trail-canton">{{ trail.canton }}</p>
        </a>
        {% endfor %}

        <!-- Map -->
        <div class="trail-map">
            <div id="map" style="width: 100%; height: 100%; border-radius: 1rem"></div>
        </div>
    </div>
</div>


{% endblock %}