{% extends "trails/layout.html" %}
{% load static %}

{% block content %}
<div class="trail-detail-container">
    <h1 class="trail-title">{{ trail.name }}</h1>

    <!-- 1st Column (Info Boxes)-->
    <div class="trail-detail-grid">
        <div class="trail-info">
            <!-- Distance -->
            <div class="info-box">
                <p class="info-label">Distance</p>
                <p class="info-value">{{ trail.distance }} km</p>
            </div>
            <!-- Duration -->
            <div class="info-box">
                <p class="info-label">Duration</p>
                <p class="info-value">{{ trail.duration }}</p>
            </div>
            <!-- Diffucult< -->
            <div class="info-box">
                <p class="info-label">Difficulty</p>
                <p class="info-value">{{ trail.difficulty }}</p>
            </div>
            <!-- Weather -->
            {% if weather %}
            <div class="info-box weather-box">
                <p class="info-label">Weather now</p>
                <p class="info-value">Temperature: {{ weather.temperature }}°C</p>
                <p class="info-value">Wind: {{ weather.windspeed }} km/h</p>
            </div>
            {% else %}
            <div class="info-box weather-box">
                <h4>Weather</h4>
                <p>Not available at the moment.</p>
            </div>
            {% endif %}
        </div>


        <!-- 2nd Column (Images) -->
        <div class="trail-photos">
            <div class="trail-gallery">
                <img src="{{ images.0.image.url }}" alt="Image 1">
                <img src="{{ images.2.image.url }}" alt="Image 3">
            </div>

            <!-- 3rd Column (Images) -->
            <div class="trail-gallery">
                <img src="{{ images.1.image.url }}" alt="Image 2">
                <img src="{{ images.3.image.url }}" alt="Image 4">
            </div>
        </div>

        <!-- Description Row -->
        <div class="trail-description">
            <h2>Description</h2>
            <p>{{ trail.description|linebreaks|linebreaks }}</p>
        </div>
    </div>


    <!-- Full-width Map Embed -->
    {% if trail.map_embed_url %}
    <div class="trail-map-embed">
        <iframe src="{{ trail.map_embed_url }}" style="border: 0; width: 100%; height: 500px;" allow="geolocation">
        </iframe>

        <noscript>
            <p>Map preview unavailable. <a href="{{ trail.map_embed_url }}" target="_blank">Click here to view on
                    Swisstopo</a></p>
        </noscript>
    </div>
    {% endif %}
    {% endblock %}